<h1>Messages</h1>
<% if @messages.blank? %>
    <p>No received messages, sent a message, even to yourself</p>
    <a class="btn btn-light" href="/messages/new">sent a message</a>
<% else %>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Body</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.subject %></td>
        <td><%= message.body %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
<% end %>


<style>
h1 {
  color: #ffa500;
  text-align: center;
  font-size: 2em;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 2em auto;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.btn:hover {
  opacity: 0.8;
}

</style>
