<h2 style= "margin: 20px;">New Message</h2>

<div style= "margin: 20px;">
<%= simple_form_for @message do |f| %>
  <%#= f.input :sender %>
  <%= f.input :receiver, :input_html => { :value => @receiver }  %>
  <%#= f.input :receiver, :placeholder =>  @receiver  %>
  <%= f.input :subject %>
  <%= f.input :body, as: :text %>

  <%= f.button :submit, value: "sent Message" %>
<% end %>

<%= link_to 'Back', messages_path, class: "btn" %>
</div>
