<div class="container">
  <div class="row justify-content-center">
    <div>
    <h2 style="font-weight: 900;font-size: 50px; font-family: 'Alex Brush', sans-serif;color: purple;" class="handwriting">Please log in, rent a bike!</h2>
    </div>
    <div class="col-6">


      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: 'btn'%>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<style>
@import url('https://fonts.cdnfonts.com/css/alex-brush');

.handwriting {
  animation: handwriting 4s;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes handwriting {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
</style>
