<div class="container">
  <div class="row justify-content-center">

    <div class="col-4">
    <div>
    <br>
    <h2 style="font-weight: 900;font-size: 50px; font-family: 'Helvetica', sans-serif;color: black;" class="">please log in, rent a bike!</h2>
    <br>
    </div>


      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: 'btn btn-primary'%>
        </div>
        <br>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<style>

a {
  color: black;
  text-decoration-color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: 650;
  /* Add more hover styles as needed */
}

@import url('https://fonts.cdnfonts.com/css/alex-brush');

.handwriting {
  animation: handwriting 4s;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes handwriting {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flash-animation {
  animation: flashing 1s ease-in-out 3;
}
</style>
