<div class="container"  style="width: 400px;">
  <div class="row justify-content-center">

    <div class="">
    <div>
    <br>
    <h2 style="font-weight: 900;font-size: 50px; font-family: 'Helvetica', sans-serif;color: black;" class="text-blur-out">Please log in, rent a bike!</h2>
    <br>
    </div>


      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, placeholder: 'Peter@gmail.com', input_html: { value: 'Peter@gmail.com' },
                      required: false,
                      autofocus: true %>
          <%= f.input :password, placeholder: '123456', input_html: { value: '123456' },
                      required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: 'btn btn-primary'%>
        </div>
        <br>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<style>

a {
  color: black;
  text-decoration-color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: 650;
  /* Add more hover styles as needed */
}

@import url('https://fonts.cdnfonts.com/css/alex-brush');

.handwriting {
  animation: handwriting 4s;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes handwriting {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flash-animation {
  animation: flashing 1s ease-in-out 3;
}


body {animation:text-blur-out 1.2s cubic-bezier(.55,.085,.68,.53) reverse both}
@keyframes text-blur-out{0%{filter:blur(.01)}100%{filter:blur(12px) opacity(0)}}
</style>
